body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(20deg, #2B124C 0%, #FBE4D8 100%);
    height: 240vh;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 8px;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.main {
    margin-left: 50px;
    padding: 30px;
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profil {
    font-size: 20px;
    font-weight: bold;
    color: #2B124C;
}

.title {
    font-size: 45px;
    font-weight: bold;
    color: #2B124C;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.progress {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #2B124C;
    border: 6px solid #2B124C;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}