body {
  background-image: url("https://www.addictivetips.com/app/uploads/2020/04/HmgQJDl.webp");
  font-family: "Times New Roman", monospace; 
  height: 100vh;
  background-size: cover;
  background-position: center;
}

  /* background: linear-gradient(120deg, #522B5B 0%, #DFB6B2 100%); */