:root {
    --cream: #FBE4D8;
    --rose: #DFB6B2;
    --mauve: #854F6C;
    --dark-plum: #522B5B;
    --deep-purple: #2B124C;
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

body {
    font-family: "Poppins", sans-serif;
    background: #f2e9f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.back {
    padding: 20px;
}

.back .btn {
    background: white;
    color: var(--deep-purple);
    border: 2px solid var(--mauve);
    padding: 10px 22px;
    border-radius: 16px;
    font-weight: 600;
    transition: .3s ease;
}

.back .btn:hover {
    background: var(--rose);
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}

.container {
    width: 90%;
    max-width: 650px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    color: #522B5B;
    margin-bottom: 15px;
}

/* Progress Bar */
.progress-wrapper {
    width: 100%;
    background: #eee;
    height: 10px;
    border-radius: 30px;
    margin: 10px 0 20px 0;
}

.progress-bar {
    height: 10px;
    width: 0%;
    background: #522B5B;
    border-radius: 30px;
    transition: width .3s ease-in-out;
}

.step-text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #522B5B;
}

.question-box {
    padding: 20px;
    background: #faf5fc;
    border-left: 5px solid #522B5B;
    border-radius: 12px;
    min-height: 120px;
    opacity: 0;
    transform: translateX(20px);
    transition: .35s ease;
}

.question-box.show {
    opacity: 1;
    transform: translateX(0);
}

.options {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.options label {
    background: #eee;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.options input {
    display: none;
}

.options input:checked+span {
    background: #522B5B;
    color: white;
}

.options span {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
}

.btn-area {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 14px;
    background: #522B5B;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #6a3b72;
}

.result {
    display: none;
}

.score-box {
    padding: 20px;
    background: #faf5fc;
    border-left: 5px solid #522B5B;
    border-radius: 12px;
    margin-bottom: 20px;
}

.table-kriteria {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 15px;
}

.table-kriteria th,
.table-kriteria td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-kriteria th {
    background: #f5f5f5;
    font-weight: bold;
}