:root {
    --cream: #FBE4D8;
    --rose: #DFB6B2;
    --mauve: #854F6C;
    --dark-plum: #522B5B;
    --deep-purple: #2B124C;
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

body {
    font-family: "Poppins", sans-serif;
    background: #ede6f5;
    padding: 20px;
}

.back {
    padding: 20px;
    text-decoration: none;
}

.back .btn {
    background: white;
    color: var(--deep-purple);
    border: 2px solid var(--mauve);
    padding: 10px 22px;
    border-radius: 16px;
    font-weight: 600;
    transition: .3s ease;
}

.back .btn:hover {
    background: var(--rose);
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}

.container {
    max-width: 650px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.progress-wrapper {
    width: 100%;
    height: 8px;
    background: #eee;
    margin: 10px 0 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 8px;
    width: 0%;
    background: #8A2BE2;
    transition: width 0.3s ease;
}

.question-box {
    opacity: 0;
    transition: opacity .3s ease;
    margin-top: 15px;
}

.question-box.show {
    opacity: 1;
}

.options label {
    display: block;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-area {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #522B5B;
    color: white;
    font-weight: 600;
}

.result {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

#circleChart {
    width: 220px;
    height: 220px;
    margin: 25px auto;
    display: block;
}