        body {
            background: #fbe4d8;
            font-family: Poppins, sans-serif;
        }

        .profile-card {
            max-width: 500px;
            margin: 40px auto;
            background: white;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
        }

        .profile-img {
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid #854f6c;
            margin: auto;
            display: block;
        }

        .btn-main {
            background: #522b5b;
            color: white;
            font-weight: 600;
            transition: .3s;
        }

        .btn-main:hover {
            background: #2b124c;
        }